{% extends 'base.html' %}
{% load static %}

{% block title %}{{ job.title }} at {{ job.company.name }} - SimpExtrac{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components.css' %}">
<link rel="stylesheet" href="{% static 'css/jobs.css' %}">
{% endblock %}

{% block content %}
<div class="job-detail-container">
    <div class="job-detail-card">
        {% include 'jobs/job_detail_partial.html' %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}